<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/torneo-municipal-111mil?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="modelo/Categoria.hbm.xml"/>
    <mapping resource="modelo/Disciplina.hbm.xml"/>
    <mapping resource="modelo/Escuela.hbm.xml"/>
    <mapping resource="modelo/Aspirante.hbm.xml"/>
    <mapping resource="modelo/DetalleDisciplina.hbm.xml"/>
    <mapping resource="modelo/InscripcionAspirante.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
